<div class="container-fluid py-2 d-flex">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ex dolorum accusamus eius. Dolor impedit, laboriosam commodi facilis tenetur, voluptates totam natus aperiam explicabo, ipsum optio! Ea neque fuga a?
    Voluptatem excepturi ratione officia perferendis nemo cum. Quo praesentium sint maxime eaque, eum nostrum neque velit, architecto ratione vero nam eligendi. Tempore velit fuga provident eius dicta adipisci distinctio sed!
    Velit blanditiis neque, error rem libero, commodi, iusto voluptatem ad nesciunt minus illum ipsum optio non possimus laboriosam sapiente! Eius consectetur ipsam eaque nisi dignissimos voluptatem tempore mollitia doloribus beatae?
    Corporis blanditiis dolorem tenetur? Architecto eos possimus officia quas, corrupti, dicta magnam animi dolore explicabo quae facere soluta voluptatem expedita dolores exercitationem commodi nihil vel ex amet at repellat? Commodi!
    Optio doloremque repudiandae porro, quisquam quos saepe doloribus harum ducimus voluptate, ipsa quae. Similique nam ad, impedit harum amet quis modi reprehenderit natus fugiat earum mollitia magni nulla, veritatis laudantium!</p>
</div>
