<table class="table table-responsive  ">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th class="text-center"> Comprar </th>
        </tr>
    </thead>
    <tbody id="tableContent">
        <!-- Esta "directiva" es un forEach (Por cada cerveza) -->
        <!-- Defino a cada elemento (beer) de la lista (beers) -->
        @for (beer of beers; track $index) {
            <tr [ngClass]="{'clearence' : beer.clearence}"> 
                <td class="col-2"><img [src]="beer.image" alt="Imagen de la cerveza" class="img-thumbnail"/></td>
                <td class="col-3">{{beer.name}}</td>
                <td class="col-2">{{beer.type}}</td>
                <td class="col-2">
                    <!-- Le establezco una "pipe" -> " | " para darle formato. -->
                    <!-- Por defecto, currency trae "$" antes del numero, y le agrega 2 decimales --> 
                    {{beer.price | currency}} 
                </td>
                <td class="col-1 text-end">
                    <!-- Como son condiciones "Opuestas", solo va a mostrar 1 de los 2 "span" -->
                    @if(beer.stock <= 0){
                        <span class="fw-medium text-secondary"> Sin stock </span>  
                    }@else{
                        <span> {{beer.stock}} </span>	
                    }
                </td>
                <td class="col-2">
                    @if(beer.stock > 0){
                        <div class="d-flex justify-content-center optionsContainer">
                            <button class="btn btn-sm fw-bolder fs-5 me-1" (click)="downQuantity(beer)"> - </button>
                            <input type="number" [(ngModel)]="beer.quantity" (change)="onChange($event, beer)">
                            <button class="btn btn-sm fw-bolder fs-5 ms-1" (click)="upQuantity(beer)"> + </button>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
    
</table>


