$primary-color: #4a2a66;
$secondary-color: #9B7EBD;
$other-color: #D4BEE4;
$font-color: #EEEEEE;
$secondary-font-color: #280d3f;
$menu-color: rgb(33, 37, 41);

*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    overflow: auto;
    scrollbar-width: none;
    --webkit-scrollbar-display: none;
}

body{
        min-height: 100dvh;
        width: 100%;;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}
